/* latin */
@font-face {
  font-family: 'Pontano Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Pontano Sans'), local('PontanoSans-Regular'), url(http://fonts.gstatic.com/s/pontanosans/v4/gTHiwyxi6S7iiHpqAoiE3Ogdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-weight: 700;
  src: local('Noto Serif Bold Italic'), local('NotoSerif-BoldItalic'), url(http://fonts.gstatic.com/s/notoserif/v4/Wreg0Be4tcFGM2t6VWytvHNuWYKPzoeKl5tYj8yhly0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

* {
	font-family: 'Pontano Sans';
}

html {
	background-color: #8a98c8;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

h1, h2, h3 {
	text-transform: lowercase;
	font-family: 'Noto Serif';
	font-style: italic;
}

h1 {
	font-size: 35px;
	margin-top: 0;
}

h2 {
	font-size: 30px;
	margin-top: 0;
}

p {
	font-size: 17px;
	line-height: 23px;
}

.clearfix {
	clear: both;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	background-color: rgba(212, 119, 193, 0.75);
	font-size: 16px;
	color: white;
	opacity: 0;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-ms-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	transition: opacity 500ms;
	.overlay-inner {
		width: 100%;
		height: 100%;
		display: table;
		.caption {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			font-family: 'Playfiar Display';
			font-style: italic;
			text-transform: lowercase;
			font-size: 25px;
			font-weight: bold;
		}
	}
	&:hover {
		opacity: 1;
	}
}

header {
	//width: 100%;
	//height: 100%;
	position: relative;
	//background-image: url(../img/top_bg.jpg);
	//background-size: cover;
	line-height: 0;
	img.bg {
		width: 100%;
	}
	#logo-bg {
		width: 100%;
		//height: 210px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 150;
		-webkit-transition: top 500ms;
		-moz-transition: top 500ms;
		-ms-transition: top 500ms;
		-o-transition: top 500ms;
		transition: top 500ms;
		pointer-events: none;
		img {
			height: 172px;
			margin-left: auto;
			margin-right: auto;
			display: block;
			-webkit-filter: drop-shadow(0px 0px 15px rgba(0,0,0,0.5));
			-moz-filter: drop-shadow(0px 0px 15px rgba(0,0,0,0.5));
			-ms-filter: drop-shadow(0px 0px 15px rgba(0,0,0,0.5));
			-o-filter: drop-shadow(0px 0px 15px rgba(0,0,0,0.5));
			filter: drop-shadow(0px 0px 15px rgba(0,0,0,0.5));
		}
		&.hidden {
			top: -225px;
		}
	}
}

#logo {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: 200;
	pointer-events: none;
	opacity: 0;
	animation: fadeIn 250ms 750ms ease-in-out forwards;
	img {
		width: 60%;
		height: auto;
		//height: 15%;
		margin-left: auto;
		margin-right: auto;
		display: block;
		//max-width: 60%;
	}
}

.main-nav {
	width: 100%;
	height: 75px;
	margin-top: -75px;
	background-color: rgba(88, 88, 162, .9);
	position: relative;
	overflow: hidden;
	box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
	&.hidden {
		display: none;
	}
	&.invisible {
		opacity: 0;
	}
	&.sticky-clone {
		position: fixed;
		margin-top: 0;
		top: 0;
		z-index: 1;
		&.stuck {
			display: block;
		}
	}
	.contact {
		width: 60px;
		height: 45px;
		padding-top: 15px;
		padding-bottom: 15px;
		margin-left: 15px;
		display: inline-block;
		position: absolute;
		z-index: 250;
		img {
			height: 100%;
		}
	}
	#logo {
		height: 145px;
		width: 100%;
		top: 0;
		position: absolute;
		z-index: 100;
		img {
			height: 100%;
		}
	}
	&.project {
		overflow: visible;
		position: fixed;
		top: 0;
		left: 0;
		margin-top: 0;
		z-index: 100;
		#logo {
			text-align: center;
			a {
				display: inline-block;
				pointer-events: all;
				width: 100%;
				height: 100%;
				img {
					width: auto;
					height: 100%;
				}
			}
		}
		#logo-bg {
			width: 100%;
			//height: 210px;
			position: fixed;
			top: 0;
			z-index: 50;
			pointer-events: none;
			img {
				height: 172px;
				margin-left: auto;
				margin-right: auto;
				display: block;
				-webkit-filter: drop-shadow(0px 0px 15px rgba(0,0,0,0.5));
				-moz-filter: drop-shadow(0px 0px 15px rgba(0,0,0,0.5));
				-ms-filter: drop-shadow(0px 0px 15px rgba(0,0,0,0.5));
				-o-filter: drop-shadow(0px 0px 15px rgba(0,0,0,0.5));
				filter: drop-shadow(0px 0px 15px rgba(0,0,0,0.5));
			}
		}
	}
}

#main {
	width: 100%;
	position: relative;
	font-size: 0;
	overflow-x: hidden;
	&.project {
		padding-top: 150px;
	}
	#projects {
		position: static;
		padding-top: 150px;
		.spacer {
			width: 100%;
			height: 85%;
			position: absolute;
			top: 0;
			left: 0;
			pointer-events: none;
			//background-image: url(/img/main_bg.jpg);
			//background-attachment: fixed;
			//background-size: cover;
		}
		.project {
			width: 33.33333333333%;
			position: relative;
			display: inline-block;
			border: 0;
			margin: 0;
			padding: 0;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
	.floating-section {
		width: 100%;
		margin-top: 100px;
		margin-bottom: 45px;
		font-size: 16px;
		position: relative;
		background-color: rgba(255, 255, 255, 0.5);
		color: #1a1d22;
		box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
	}
	#images {
		box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
		.img {
			display: inline-block;
			width: 100%;
			&.portrait {
				width: 50%;
				float: left;
			}
			img {
				width: 100%;
			}
		}
		.img-sub {
			display: inline-block;
			width: 50%;
			float: left;
			img {
				width: 100%;
			}
		}
	}
	#content {
		margin-top: 0;
		.content-inner {
			max-width: 960px;
			min-height: 300px;
			width: 100%;
			padding-top: 45px;
			padding-bottom: 45px;
			margin-left: auto;
			margin-right: auto;
			font-size: 0;
			.content-left {
				width: 60%;
				font-size: 16px;
				display: inline-block;
				vertical-align: top;
				box-sizing: border-box;
				padding-right: 35px;
				.prints {
					width: 100%;
					a {
						width: 45px;
						display: inline-block;
						text-decoration: none;
						margin-right: 15px;
						img {
							width: 100%;
						}
					}
				}
			}
			.content-right {
				width: 40%;
				font-size: 16px;
				display: inline-block;
				vertical-align: top;
				a {
					display: inline-block;
					img {
						width: 100%;
					}
				}
				
			}
		}
		
	}
	#about {
		width: 100%;
		padding-top: 45px;
		padding-bottom: 45px;
		font-size: 16px;
		.about-inner {
			max-width: 960px;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
			font-size: 0;
			.about-inner-left {
				width: 25%;
				display: inline-block;
				img {
					width: 100%;
				}
			}
			.about-inner-right {
				width: 75%;
				font-size: 16px;
				display: inline-block;
				vertical-align: top;
				box-sizing: border-box;
				padding-left: 30px;
				padding-right: 30px;
			}
		}
	}
	#social {
		width: 100%;
		margin-top: 100px;
		text-align: center;
		position: relative;
		font-size: 0px;
		.social-post {
			width: 33.33333333333%;
			background-color: black;
			display: inline-block;
			position: relative;
			img {
				width: 100%;
				height: auto;
			}
		}
	}
	footer {
		width: 100%;
		margin-top: 100px;
		margin-bottom: 30px;
		font-size: 16px;
		text-align: center;
		color: #1a1d22;
		a {
			text-decoration: none;
			display: inline-block;
			height: 60px;
			margin-right: 30px;
			margin-bottom: 50px;
			&.last {
				margin-right: 0;
			}
			img {
				height: 100%;
			}
		}
	}
}

#background {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	img {
		width: 100%;
		height: 100%;
	}
}

@media only screen and (max-width: 580px) {
	header {
		#logo-bg {
			display: none;
		}
	}
	.main-nav {
		margin-top: 0;
		#logo {
			height: 75px;
		}
		#logo-bg {
			display: none;
		}
		&.project {
			#logo {
				a {
					width: auto;
					display: inline;
					img {
						height: 75px;
						width: auto;
					}
				}
			}
		}
	}
	#main {
		#projects {
			.project {
				width: 100%;
				margin-bottom: 15px;
				position: relative;
				.overlay {
					width: 100%;
					height: auto;
					padding-top: 10px;
					padding-bottom: 10px;
					opacity: 1;
					display: block;
					background-color: rgba(212, 119, 193, 0.75);
					position: relative;
					.overlay-inner {
						.caption {
							font-size: 24px;
						}
					}
				}
			}
		}
		#content {
			.content-inner {
				padding-left: 45px;
				padding-right: 45px;
				box-sizing: border-box;
				.content-left {
					display: block;
					width: 100%;
					padding-right: 0;
				}
				.content-right {
					width: 100%;
					padding-top: 15px;
					display: block;
				}
			}	
		}
		#social {
			background-color: transparent;
			box-shadow: none;
			.social-post {
				width: 100%;
				margin-bottom: 15px;
				position: relative;
				box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
				img {
					display: block;
				}
				.overlay {
					width: 100%;
					height: auto;
					padding-top: 10px;
					padding-bottom: 10px;
					opacity: 1;
					display: block;
					background-color: rgba(212, 119, 193, 0.75);
					position: relative;
					.overlay-inner {
						.caption {
							font-size: 24px;
						}
					}
				}
			}
		}
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}