<section id="about" class="floating-section">
	<div class="about-inner">
		<div class="about-inner-left">
			something
		</div>
		<div class="about-inner-right">
			something-else
		</div>
	</div>
</section>