<section id="about" class="floating-section">
	<div class="about-inner">
		<div class="about-inner-left">
			<img src="/img/portraitsmallcrop.jpg">
		</div>
		<div class="about-inner-right">
			<h2>About Me</h2>
			<p>
				I'm a freelance illustrator in the Northwest Arkansas area and a graduate
				 of the Kansas City Art Institute. Though I majored in animation, I soon
				  discovered my passion for digital painting and illustration. I have
				   since created book covers, shirt designs, and more. My work has
					 been featured across the internet by Imagine FX, RedBubble, Shirtpunch, and game studios
					  like Digital Extremes.
			</p>
		</div>
	</div>
</section>