<section id="about" class="floating-section">
	<div class="about-inner">
		<div class="about-inner-left">
			<img src="/img/portraitsmallcrop.jpg">
		</div>
		<div class="about-inner-right">
			<h2>Title</h2>
			<p>
				this is a description
			</p>
		</div>
	</div>
</section>