<section id="about" class="floating-section">
	<div class="about-inner">
		<div class="about-inner-left">
			<img src="/img/portraitsmallcrop.jpg">
		</div>
		<div class="about-inner-right">
			<h2>About</h2>
			<p>
				Alyssa May is a digital illustrator located in Northwest Arkansas and a graduate of the Kansas City Art Institute. While studying for her major in animation, she discovered her true passion for illustration. She has since illustrated children’s books, book covers, t-shirt designs, and more. Her colorful artwork has been featured across the internet and the real world by companies like RedBubble and Butterball, local publishers and independent authors, and her work can even be spotted rolling around NWA on the Bella Vista Animal Shelter van!
			</p>
		</div>
	</div>
</section>