<section id="about" class="floating-section">
	<div class="about-inner">
		<div class="about-inner-left">
			<img src="/img/portraitsmallcrop.jpg">
		</div>
		<div class="about-inner-right">
			<h2>About Me</h2>
			<p>
				I am a freelance illustrator in the Northwest Arkansas area and
				graduated from the Kansas City Art Institute with a major in animation. It
				was there that I discovered my passion for digital painting and 
				illustration. I have since created book covers, shirt designs, and more for
				projects from Shirtpunch, Modern Druid Incx., Milan Kazarka, the
				Bella Vista Animal Shelter, and others.
			</p>
		</div>
	</div>
</section>