<footer>
	<a href="http://alyssamay-art.tumblr.com/">
		<img src="/img/tumblr.png">
	</a>
	<a href="https://www.youtube.com/user/minielche/videos">
		<img src="/img/youtube.png">
	</a>
	<a href="http://minielche.deviantart.com/">
		<img src="/img/deviantart.png">
	</a>
	<a href="https://www.behance.net/penguinstein" class="last">
		<img src="/img/behance.png">
	</a>
	<br>
	&copy;{{currentYear}} Alyssa May
</footer>