<footer>
	<a href="https://www.youtube.com/user/minielche/videos">
		<img src="/img/youtube.svg">
	</a>
	<a href="http://alyssamay-art.tumblr.com/">
		<img src="/img/tumblr.svg">
	</a>
	<a href="http://minielche.deviantart.com/">
		<img src="/img/deviantart.svg">
	</a>
	<a href="https://www.behance.net/penguinstein">
		<img src="/img/behance.svg">
	</a>
	<a href="http://www.redbubble.com/people/penguinstein/portfolio">
		<img src="/img/redbubble.svg">
	</a>
	<a href="http://society6.com/penguinstein">
		<img src="/img/society6.svg">
	</a>
	<a href="http://crated.com/alyssamay" class="last">
		<img src="/img/crated.svg">
	</a>
	<br>
	&copy;{{currentYear}} Alyssa May
</footer>