<footer>
	<a href="https://www.youtube.com/channel/UCGt0gzjHn3nAcpldsk0z9Zw">
		<img src="/img/youtube.svg">
	</a>
	<a href="https://www.artstation.com/artist/artofalyssamay">
		<img src="/img/artstation.svg">
	</a>
	<a href="https://www.behance.net/penguinstein">
		<img src="/img/behance.svg">
	</a>
	<a href="http://alyssamay-art.tumblr.com/">
		<img src="/img/tumblr.svg">
	</a>
	<a href="https://www.instagram.com/artofalyssamay/">
		<img src="/img/instagram.svg">
	</a>
	<a href="http://www.redbubble.com/people/penguinstein/portfolio" class="last">
		<img src="/img/redbubble.svg">
	</a>
	<br>
	&copy;{{currentYear}} Alyssa May
</footer>