<section id="social" class="floating-section">
	{{#eachCollection 'socialPosts'}}
		<a href="{{url}}">
			<article class="social-post">
				<img src="/img/social_posts/{{img}}">
				<div class="overlay">
					<div class="overlay-inner">
						<div class="caption">
							
						</div>
					</div>
				</div>
			</article>
		</a>
	{{/eachCollection}}
</section>