<!doctype html>
<html>
	<head>
		<title>Alyssa May Illustration</title>
		<link rel="stylesheet" type="text/css" href="/styles/global.css">
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li>
						
					</li>
				</ul>
			</nav>
		</header>
		<section id="projects">
			{{#eachCollection 'projects'}}
				<article class="project">
					{{title}}
				</article>
			{{/eachCollection}}
		</section>
		<footer>
			
		</footer>
	</body>
</html>