<!doctype html>
<html>
	<head>
		<title>Alyssa May Illustration</title>
		<link rel="stylesheet" type="text/css" href="/styles/global.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-MK8FNCPJKJ"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-MK8FNCPJKJ');
		</script>
	</head>
	<body>
		<header id="header">
			<img src="img/top_bg.jpg" class="bg">
			<div id="logo">
				<img src="/img/SignatureVector.svg">
			</div>
			<div id="logo-bg" class="hidden">
				<img src="/img/logo_bg2x.png">
			</div>
		</header>
		<nav class="main-nav sticky">
			<a href="mailto:alyssa@artofalyssamay.com" class="contact">
				<img src="/img/contact.svg">
			</a>
		</nav>
		<div id="main">
			<section id="projects">
				<div class="spacer">
					<img src="/img/main_bg.jpg">
				</div>
				{{#eachCollection 'projects'}}
					<a href="{{url}}">
						<article class="project">
							<img src="/img/projects/{{imgThumb}}">
							<div class="overlay">
								<div class="overlay-inner">
									<div class="caption">
										{{title}}
									</div>
								</div>
							</div>
						</article>
					</a>
				{{/eachCollection}}
			</section>
			{{> social}}
			{{> about}}
			{{> footer}}
		</div>
		<!--Workaround for webkit bug-->
		<div id="background">
			<img src="/img/main_bg.jpg">
		</div>
		<script src="/js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="/js/app.js"></script>
	</body>
</html>